{% extends "base.html" %} {% block content %}
<h1 class="title">Сервсиный цетр</h1>
<h2 class="subtitle">Войдите чтобы начать работу</h2>
{% endblock %}

<!-- <html>
    <body>
        <div align="center">
            <h1>Отправка заявки</h1>
            <form action="/f" enctype=multipart/form-data method="POST">
                <p><input name="text" type="text" value="" placeholder="Текст заявки" /></p>
                <p><input type="file" name="file" /></p>
                <input type="submit" value="Отправить заявку" />
            </form>
        </div>
    </body>
</html> -->
