{% extends "admin/adm.html" %} {% block content %}
<h1 class="title">Все заявки</h1>
<div align="center" class="box">
    <table class="table is-hoverable" align="center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Текст</th>
                <th>Статус</th>
                <th>Исполнитель</th>
                <th>История</th>
                <th>Изменить</th>
            </tr>
        </thead>
        <tbody>
            {% if replys %} {% for repl in replys %}
            <tr>
                <th>{{ repl.id }}</th>
                <td>{{ repl.content }}</td>
                <td>{{ repl.status }}</td>
                <td>{{ repl.doer }}</td>
                <td>
                    <a href="{{ url_for('auth.about_reply', number=repl.id) }}">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('auth.edit_reply', number=repl.id) }}">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                    </a>
                </td>
            </tr>
            {% endfor %} {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
